body {
    font-family: 'DM Sans';font-size: 22px;
    background: #fd8d80;
}

/*NAV BAR*/
#sysolis{
	float: left;
	max-width: 50px;
	padding-left: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 0;
  padding-right: 10px;
}

li {
  float: right;
  padding-right: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fd7667;
}

#nav-bar{
	background: white;
	width: 560px;
	height: 5px;
	float: right;

}
/*Home Page*/
flex{
	display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  justify-content: right;
}

#tagline{
	color: white;
	text-align: center;
	padding-top: 5%;
	font-size: 30px;
}
#portrait-frame1{
	max-width: 500px;
	float: right;
	padding-right: 20%;
}