.white{
	background-color: antiquewhite;
}

.desc{
	display: flex;
	flex-wrap: nowrap;
}

#topic{

}

#subject{

}
/*______________________________________________________*/
ul.navb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: white;
}


li a, .dropbtn {
  display: inline-block;
  color: black;
  font-size: 1.3em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky; /* Safari */ position: sticky;
  	z-index: 99;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightpink;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: hotpink;}

.dropdown:hover .dropdown-content {
  display: flex;

}