body{
	margin: 0;
	font-family: 'DM Sans';
}


/*______________________EDUCATION_____________________*/
h2{
	margin: 0;
}

.education{
	border-radius: 10px;
	background-color: antiquewhite;
	margin: 0; top: 0;
	z-index: 1;
}

div.education h2{
	background-color: dodgerblue;
	border-radius: 30px;
	text-align: center;
	color: white;
	  font-family: 'DM Sans';
	  margin: 0;
}

.desc{
	display: flex;
	justify-content: center;
	border-radius: 10px;
	padding-bottom: 20px;
}
#hunter-logo{
	border-radius: 50%;
	max-width: 250px; max-height: 250px;
}

.column{
	display: flex;
	flex-direction: column;
	padding-left: 10%;
}

#topic{
	float: left;
	background-color: mediumpurple;
	border-radius: 30px;
	font-size: 1.1em;
	color: white;
	font-family: 'DM Sans';
	text-align: center;
	padding: 5px 8px 5px 8px;
}

#subject{
	color: black;
	font-family: 'DM Sans';
	text-align: center;
	padding-top: 10%;
	font-size: 0.92em;
	float: left;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.column img{
	border-radius: 0;
	max-width: 20px; max-height: 20px;
	padding-right: 5px;
}
#softwares{
	float: left;
	background-color: tomato;
	border-radius: 30px;
	font-size: 1.1em;
	color: white;
	font-family: 'DM Sans';
	text-align: center;
	padding: 5px 8px 5px 8px;
}

#level{
	padding:0; margin: 0; font-family: 'DM Sans';
}

.flex{
	display: flex;
	justify-content: nowrap;
	font-family: 'DM Sans';
	padding-top: 5px;
}

.flex p{
	margin: 0;
}

#languages{
	float: left;
	background-color: mediumseagreen;
	border-radius: 30px;
	font-size: 1.1em;
	color: white;
	font-family: 'DM Sans';
	text-align: center;
	padding: 5px 8px 5px 8px;
}

.flex-code, .flex-code p{
	display: flex;
	justify-content: nowrap;
	font-size: 16px;
	font-family: monospace;
	margin: 0;
}

/*__________________________CLASSES_________________________*/
.classes{
	margin-left: 0; margin-right: 0;
	background-color: antiquewhite;
}

.classes h2{
	background-color: dodgerblue;
	border-radius: 30px;
	text-align: center;
	color: white;
	font-family: 'DM Sans';
}

#class-name{
	float: left;
	background-color: crimson;
	border-radius: 30px;
	font-size: 1.1em;
	color: white;
	font-family: 'DM Sans';
	text-align: center;
	padding: 5px 8px 5px 8px;
}
}

.learnings p{
	margin: 0; padding: 0px 0px 10px 20px;
}

.column-grid{
	display: flex;
	flex-direction: column;
	padding-left: 5%;
}

.grid-posters{
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding-top: 10px;
    padding-left: 0;
}
.grid-posters img {
	max-width: 100px;
}

.grid-posters a{
	margin: 0;
}

.grid3{
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    padding-top: 10px;
}

.grid3 img{
	max-width: 200px;

}
/*__________________________LYNDA_________________________*/
#subjects{
	font-size: 1.2em;
	font-weight: bold;
}

/*__________________________NAV BAR____________________________*/
ul.navb {
  width: 100%; 
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
 font-family: 'DM Sans';
  display: flex;
  justify-content: center;
  background-color: white;
  top:0;
  position: -webkit-sticky; /* Safari */ position: sticky;
}


li a, .dropbtn {
  display: inline-block;
  color: black;
  font-size: 1.17em;
  text-align: center;
  padding: 11px 14px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightpink;
}

li.dropdown {
  display: inline-block;  
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  top:50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: hotpink;}

.dropdown:hover .dropdown-content {display: block;}

.nav-left{
	display: flex;
	float: left;
}

#name{
	margin: 15px 0px 0px 0px;
	padding:0px 10px 0px 10px;
	font-size: 1.17em;
}

.pond3{
	display: flex;
	justify-content: space-between;
	background-color: white;
	position: relative;
	top: 0px;
}
