.landing{
	padding-top: 20px;
	position: relative;
}

#button-div{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}
#but, #but a:link, #but a:visited, #but:active{
	border: 2px solid;
	border-color: crimson;
	padding: 5px 60px 5px 60px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: crimson;
	font-weight: bold;
	border-radius: 10px;
	transition: background-color 2s, color 2s;
	text-decoration: none;
}

#but:hover{
	background-color: crimson;
	color: white;
	text-decoration: none;
}

#home-roto{

	margin-left: auto;
  	margin-right: auto;
  	display: block;
	opacity: 1;
	animation-delay: 2s;
	animation-name: two;
	animation-duration: 5s;
	z-index: -1;
	width: 60%; height: 60%;
	animation-fill-mode: forwards;
	
}

@keyframes two{
	from {opacity: 1;}
	to {opacity: .6;}
}

#testing{
	position: absolute;
}

#name{
	z-index: 1;
	text-align: center;
	font-size: 5em;
	margin-top: 0;
	opacity: 0;
	animation-delay: 3s;
	animation-name: one;
	animation-duration: 4s;
	animation-fill-mode: forwards; 
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes one{
	from{opacity: 0;}
	to{opacity: 1;}
}

/*.................................NAV BAR*/

#nav{
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: white;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
  	z-index: 99;
}

#list{
	float: left;
}

#list a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 26px;
	text-decoration: none;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}

#list a:hover{
	background-color: lightgrey;
	/*border-radius: 10%;*/
}
/*...............................

/*...............................POND*/

.pond{
	display: flex;
	justify-content: center;
}


#trait{
	width: 30%;
	text-align: center;
	font-size: 1.3em;
}

#trait1 {
	width: 30%;
	text-align: center;
	font-size: 1.3em;
}
#trait1 img{
	border-radius: 30%;
	box-shadow: 5px 5px 10px rgb(101, 101, 101);	
}
div#trait img{
	box-shadow: 5px 5px 10px rgb(101, 101, 101);	
	z-index: 2;
	margin-left: 20px; margin-right: 20px;
	width: 40%;
}


/*
div#trait img:hover{
	transform: perspective(600px) rotateY(-180deg);
	box-shadow: -5px 5px 10px rgb(101, 101, 101);	
}
*/
#i-am{
	text-align: center;
	font-size: 1.4em;
	padding-top: 30px;
}

#hello-world{
	padding-top: 50px;
	font-family: monospace;
	font-size: 1.1em;
}

#bio{
	font-size: 1em;
	padding-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
}